.page {
  margin: var(--spacing) 0 var(--spacing-page) 0;

  &__content {
    margin-top: var(--spacing);

    & > * + * {
      margin-top: var(--spacing-small);
    }

    & > * + h2 {
      margin-top: var(--spacing);
    }

    a {
      //color: var(--c-primary);
    }
  }
}
