:root {
  --range-background: #d4d4d4;
  --range-height: 0.6rem;
  --range-thumb: #c00;
  --range-thumb-disabled: #a3a3a3;
}

.player-timeline {
  margin-top: var(--spacing-section);

  &__timeline {
    background-color: transparent;
    position: relative;
  }

  &__time {
    position: absolute;
    left: 1px;
    top: 50%;
    transform: translateY(-50%);
    height: calc(100% - 2px);
    background-color: var(--range-thumb);
    width: 20%;
    display: block;
    pointer-events: none;
    border-radius: 50px;

    &--disabled {
      //background-color: var(--range-thumb-disabled);
    }
  }

  input[type='range'] {
    -webkit-appearance: none;
    margin: 0;
    width: 100%;
    display: block;
    height: var(--range-height);
    background-color: var(--c-bkg);

    &:focus {
      outline: none;
    }

    &::-webkit-slider-runnable-track {
      width: 100%;
      height: var(--range-height);
      cursor: pointer;
      animate: 0.2s;
      @mixin shape-pressed 0.1rem;
      border-radius: 50px;
    }

    &::-webkit-slider-thumb {
      position: relative;
      height: var(--range-height);
      width: var(--range-height);
      cursor: pointer;
      transform: scale(1.3);
      border-radius: 50px;
      border: 1px solid #cc0000;
      background: linear-gradient(145deg, #d30000, #fa0000);
      box-shadow: 3px 3px 5px var(--c-nm-shadow-light),
        -3px -3px 5px var(--c-nm-shadow-dark);
      z-index: 100;
      -webkit-appearance: none;
    }

    &::-moz-range-track {
      width: 100%;
      height: var(--range-height);
      cursor: pointer;
      animate: 0.2s;
      @mixin shape-pressed 0.1rem;
      border-radius: 50px;
    }

    &::-moz-range-thumb {
      height: var(--range-height);
      width: var(--range-height);
      cursor: pointer;
      transform: scale(1.3);
      border-radius: 149px;
      border: 1px solid #cc0000;
      background: linear-gradient(145deg, #d30000, #fa0000);
      box-shadow: 3px 3px 5px var(--c-nm-shadow-light),
        -3px -3px 5px var(--c-nm-shadow-dark);
      z-index: 100;
    }
  }

  &__times {
    padding: 0.3em 0.4em;
    display: flex;
    justify-content: space-between;
    font-size: var(--fs-s);
  }
}
