.audio {
  margin-top: var(--spacing-small);
  display: flex;
  flex-direction: column;
  min-height: 100%;

  &__icon {
    @mixin shape-concave;
    border-radius: 50%;
    font-size: 2rem;
    border: calc(0.5em / 4) solid var(--c-border);
    width: 4.5rem;
    height: 4.5rem;
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    margin: 0 auto;

    svg {
      width: 1.2em;
      height: 1.2em;
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
    }

    &--loading:after {
      content: '';
      display: block;
      width: 1em;
      height: 1em;
      margin-top: -0.5em;
      margin-left: -0.5em;
      border: 4px solid var(--c-p);
      border-top-color: transparent;
      border-left-color: transparent;
      box-sizing: border-box;
      position: absolute;
      top: 50%;
      left: 50%;
      border-radius: 50%;
      animation: spinner 800ms linear infinite;
    }
  }

  &__error-text,
  &__loading-text {
    text-align: center;
    margin: var(--spacing) auto 0 auto;
    max-width: 450px;
  }

  &__error-reload {
    text-align: center;
    font-weight: bold;
    display: block;
    margin-top: var(--spacing);
  }

  &__about {
    @mixin shape-pressed 0.3rem;
    padding: calc(var(--spacing) * 1.5);
    overflow: auto;
    flex: 1;
    display: flex;
    flex-direction: column;

    &-author {
      margin-top: 1rem;
    }

    &-open,
    &-close {
      margin: 1rem 0;
      font-size: var(--fs-s);
      font-weight: bold;
      text-decoration: none;
      display: inline-block;
      align-self: flex-start;
    }

    &-open-icon {
      margin-right: 0.5em;
    }

    &-close {
      margin: auto 0 0 0;
      padding-top: var(--spacing);
      //padding-bottom: var(--spacing);
      font-size: var(--fs);
    }
  }

  &__player {
    margin-top: auto;
    padding: var(--spacing-page) 0;
  }
}
