.selectvideo {
  margin: var(--spacing-page) auto 0 auto;
  width: 100%;

  &__label {
    display: block;
  }

  &__row {
    width: 100%;
    display: flex;
    align-items: center;
  }

  &__input {
    background-color: var(--c-bkg-2);
    border: none;
    padding: 0.7em;
    line-height: 1;
    border-radius: 0.5em;
    flex-grow: 1;
    margin-right: var(--spacing);
    color: var(--c-p);
  }

  &__submit {
    height: 4rem;
    width: 4rem;
    @mixin shape-concave;
    border-radius: 50%;
    cursor: pointer;
    color: var(--c-p);
    &:disabled {
      .selectvideo__icon {
        opacity: 0.5;
      }
    }
  }

  &__icon {
    font-size: 1.5rem;
  }
}
