.app {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100%;

  &__header {
    display: flex;
    align-items: center;
    padding: var(--spacing);
  }

  &__logo {
    svg {
      height: 2.5rem;
      display: block;
    }

    padding: 0.5rem;
    @mixin shape-concave 0.2rem;
  }

  &__navigation {
    margin-left: auto;
    overflow-x: hidden;
  }

  &__content {
    padding: 0 var(--spacing);
    flex-grow: 1;
  }

  &__back {
    text-decoration: none;
    opacity: 1;
    @mixin transition 200ms, opacity;
    will-change: opacity;
  }

  &--player {
    max-height: 100vh;
  }

  &__version {
    position: fixed;
    bottom: 1em;
    left: 0;
    right: 0;
    text-align: center;
    opacity: 0.6;
    font-size: var(--fs-s);
  }
}

body.home .app__back {
  opacity: 0;
}
