<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>
    <%= htmlWebpackPlugin.options.title %>
  </title>
  <meta name="description" content="<%= htmlWebpackPlugin.options.description %>">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
  <link rel="shortcut icon" href="/assets/static/icon/favicon.ico">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/static/icon/favicon-16x16.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/static/icon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="48x48" href="/assets/static/icon/favicon-48x48.png">
  <meta name="theme-color" content="#CC0000" />
</head>

<body class="bg-gray-100">
<div id="app" class="overflow-hidden px-5 py-10 flex justify-center"></div>
<div id="modals"></div>
</body>

</html>
