:root {
  --spacing: 1.4rem;
  --spacing-small: 0.7rem;
  --spacing-section: 2.5rem;
  --spacing-page: 2.5rem;
  --transition-speed: 200ms;

  --c-p: #696960;
  --c-h: #1d1d1b;
  --c-bkg: #dbdbdb;
  --c-bkg-2: #cecece;
  --c-border: #e2e2e2;

  --c-nm-bkg: #dbdbdb;
  --c-nm-bkg-grad-start: #c5c5c5;
  --c-nm-bkg-grad-end: #eaeaea;
  --c-nm-shadow-light: #bababa;
  --c-nm-shadow-dark: #fcfcfc;

  --c-primary: #c00;

  --fs: 1rem;
  --fs-s: 0.8rem;
  --fs-xs: 0.6rem;
  --fs-l: 1.2rem;
  --fs-nav: 1.4rem;
  --fs-xl: 2rem;

  @media (prefers-color-scheme: dark) {
    --c-p: #adadad;
    --c-h: #cbcbcb;
    --c-bkg: #2f2f2f;
    --c-bkg-2: #212121;
    --c-border: #393939;

    --c-nm-bkg: #2f2f2f;
    --c-nm-bkg-grad-start: #2a2a2a;
    --c-nm-bkg-grad-end: #323232;
    --c-nm-shadow-light: #282828;
    --c-nm-shadow-dark: #363636;
  }
}

body.no-outline {
  a, button, .o-helloform__element--type-checkbox .o-helloform__input:focus + label:after, .o-helloform__input:focus {
    outline: none;
  }
}

@import 'styles/reset.css';
@import 'styles/typography.css';
@import 'styles/document.css';
@import 'styles/keyframes/spinner.css';
