@import 'styles/keyframes.css';

@tailwind base;

@tailwind components;

@tailwind utilities;

h1, h2, h3, h4, h5 {
  @apply font-bold;
}

h1 {
  @apply text-3xl;
}

h2 {
  @apply text-2xl;
}

h3 {
  @apply text-xl;
}

h4 {
  @apply text-lg;
}

h5 {
  @apply text-base;
}

p a {
  @apply underline;
}

.c-close {
  position: absolute;
  right: .5em;
  top: .5em;

  &--fixed {
    position: fixed;
  }

  &--relative {
    position: relative;
    right: auto;
    top: auto;
  }

  display: block;
  width: 1em;
  height: 1em;
  text-indent: -9999px;
  overflow: hidden;
  @apply rounded-full;

  &:focus {
    @apply shadow-outline;
  }

  &:after, &:before {
    content: '';
    width: 1px;
    height: 100%;
    background-color: currentColor;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
  }

  &:before {
    transform: translateX(-50%) translateY(-50%) rotate(-45deg);
  }
}
