@import 'styles/keyframes.css';

@tailwind base;

@tailwind components;

@tailwind utilities;

h1, h2, h3, h4, h5 {
  @apply font-semibold;
}

h1 {
  @apply text-4xl;
}

h2 {
  @apply text-3xl;
}

h3 {
  @apply text-xl;
}

h4 {
  @apply text-lg;
}

h5 {
  @apply text-base;
}

p a {
  @apply underline;
}
