name: Deploy

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@master
      - uses: actions/setup-node@v1
        with:
          node-version: '16.x'
      - name: Project setup
        run: npm install
      - name: Compile for production
        run: npm run prod
      - name: Upload ftp
        uses: SamKirkland/FTP-Deploy-Action@3.0.0
        with:
          local-dir: dist/
          ftp-server: ftp://s019.cyon.net
          ftp-username: ${{ secrets.FTP_USER }}
          ftp-password: ${{ secrets.FTP_PASSWORD }}
